<div class="container">
    <div class="text-center" *ngIf="callNumber"> 
        <button #button (click) = 'update()' class='btn btn-danger'>Keep clicking here to view sample employees from another REST API!</button>
      </div>
      <br>
      <table class="table table-hover">
          <thead>
              <tr>
                <th scope="col">Type</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody *ngFor='let contact of contacts'>
                <tr class="table-active">
                  <th>Test</th>
                  <td>{{ contact.first_name }}</td>
                  <td>{{ contact.last_name }}</td>
                  <td>{{ contact.email }}</td>
                  <td>None</td>
                </tr>
            </tbody>
        </table> 
        <p *ngIf="!callNumber" class="endWarning">Those are all of the test contacts!</p>
</div>


